# Informations du site
site_name: Cours de Terminale NSI
site_author : Sylvain Liaboeuf
copyright : Copyright © 2020 - 2022 Sylvain Liaboeuf

# Structure des dossiers
docs_dir: docs

# Dépot du projet
repo_name: 'Github'
repo_url: https://github.com/sliaboeuf/Mon_site_en_Terminale_NSI
edit_uri: tree/main/docs/

use_directory_urls: false

markdown_extensions:
  - meta			# Métadonnées
  - abbr			# infobulles sur abbréviations 
  - admonition		# Blocs colorés  !!! info "ma remarque"
  - pymdownx.details		#   qui peuvent se plier/déplier.
  - def_list			# Les listes de définition.
  - attr_list			# Un peu de CSS et des attributs HTML.
  - footnotes		# Notes[^1] de bas de page.  [^1]: ma note.
  - pymdownx.superfences	# Imbrication de blocs.
  - pymdownx.highlight:	# Coloration syntaxique du code
      use_pygments: true
      linenums: false
  - pymdownx.tasklist:		# Cases à cocher  - [ ]  et - [x]
      custom_checkbox: true	#   avec cases d'origine
      clickable_checkbox: true	#   et cliquables.
  - pymdownx.caret		# Passage ^^souligné^^ ou en ^exposant^.
  - pymdownx.tabbed		# Volets glissants.  === "Mon volet"
  - pymdownx.mark		# Passage ==surligné==.
  - pymdownx.keys		# Touches du clavier.  ++ctrl+d++
  - pymdownx.tilde		# Passage ~~barré~~ ou en ~indice~.
  - pymdownx.snippets		# Inclusion de fichiers externe.
  - pymdownx.inlinehilite	# pour  `#!python  <python en ligne>`
  - pymdownx.arithmatex:	# Formules en LaTeX 
        generic: true
        smart_dollar: false
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.emoji:		# Émojis  :boom:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

theme:
  name: material
  custom_dir: my_theme_customizations/
  language: fr
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: light blue
      accent: red
      toggle:
        icon: material/weather-night
        name: Mode sombre

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Mode clair
  favicon : Images/Logo.png
  features:
    - header.autohide
    - search.highlight
    - navigation.top
    - navigation.instant
    - navigation.tabs
    - navigation.expand
    - toc.integrate
    - tabs : false

extra_css:
  - stylesheets/extra.css
  - xtra/stylesheets/pyoditeur.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - xtra/javascripts/interpreter.js

plugins:
  - search		# Inclure une barre de recherche
  - macros

nav:
    -  Page d'accueil : index.md    
    -  Les bases de données :
        -  Cours : 
            -  Les bases de données : cours/Les_bases_de_donnees/Les_bases_de_données.md
        -  Exercices : 
            -  Enoncé : cours/Les_bases_de_donnees/Exercices_sur_les_bases_de_données.md
            -  Correction : cours/Les_bases_de_donnees/Correction_des_exercices.md
            -  Exercice bilan : cours/Les_bases_de_donnees/Exercice_bilan.md
            -  Correction de l'exercice bilan : cours/Les_bases_de_donnees/Correction_de_l'exercice_bilan.md
    -  Le langage SQL :
        -  Cours : 
            - Le langage SQL : cours/Le_langage_SQL/Le_langage_SQL.md
        -  Présentation de DB Browser for SQLite : cours/Le_langage_SQL/Prise_en_main_DB_Browser.md
        -  Memento SQL : cours/Le_langage_SQL/Memento_SQL.md
        -  Exercices : 
            -  Enoncé : cours/Le_langage_SQL/Exercices_sur_le_langage_SQL.md
            -  Correction : cours/Le_langage_SQL/Correction_des_exercices.md
            -  Exercice bilan : cours/Le_langage_SQL/Exercice_bilan.md
            -  Correction de l'exercice bilan : cours/Le_langage_SQL/Correction_de_l'exercice_bilan.md
        -  Mini-projet : cours/Le_langage_SQL/Mini_projet.md
    -  Programmation orientée objet :
        -  Cours : 
            -  Programmation orientée objet : cours/Poo/POO.md
        -  Exercice : cours/Poo/Exercice.md
        -  Correction de l'exercice : cours/Poo/Correction_de_l_exercice.md
        -  Mini-projet : cours/Poo/Mini_projet.md 
    -  Complexité :
        -  Cours : 
            -  Enoncé : cours/Complexité_tris/complexite.md
            -  Correction des exercices : cours/Complexité_tris/Correction des exos du cours.md
        -  TP : 
            -  Enoncé : cours/Complexité_tris/TD_Complexite.md
            -  Correction des exercices : cours/Complexité_tris/Correction des exos du TP.md
        -  Exercices : 
            -  Enoncé : cours/Complexité_tris/Exercices.md
            -  Correction des exercices : cours/Complexité_tris/Correction.md
    - Epreuve pratique :
       -  Modalité : cours/Epreuve_pratique/Modalite.md
       -  Banque d'exercices : cours/Epreuve_pratique/EP.md
 

extra:
  scripts_url : .
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:sylvain.liaboeuf@ac-lyon.fr
      name: mail
    - icon: fontawesome/solid/university
      link: https://lyc-hippolyte-carnot.ent.auvergnerhonealpes.fr/
      name: Lycée Carnot